<%-  include ('../partials/header') %>




 <h1><%=article.title%></h1>
 <div>
    <img src="<%= article.imageUrl %>">
 </div>
 <p><%=article.article%></p>
  















<%-  include ('../partials/footer') %>